<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:if condition="{files}">
        <div class="c-fixed_wrapper vh-100 position-relative overflow-hidden" data-scroll data-scroll-call="dynamicBackground" data-scroll-repeat>
            <div class="c-fixed_target" id="fixed-target{data.uid}"></div>
            <f:variable name="backgroundImage" value="{f:uri.image(src:'{files.0.uid}',treatIdAsReference:'1')}" />
            <div class="c-fixed" 
                data-scroll
                data-scroll-sticky
                data-scroll-target="#fixed-target{data.uid}" 
                style="background-image: url('{backgroundImage}');">
            </div>
        </div>
    </f:if>
    <f:asset.css identifier="examplecontent">
        .c-fixed_wrapper {
            position: relative;
            overflow: hidden;
        }
        .c-fixed {
            height: 100%;
            background-size: cover;
            background-position: 50%;
            opacity: .75;
            mix-blend-mode: multiply;
        }
        .c-fixed_target {
            bottom: -100vh;
        }
        .c-fixed, .c-fixed_target {
            position: absolute;
            top: -100vh;
            right: 0;
            left: 0;
        }
    </f:asset.css>
</html>