<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Default" />
    <f:section name="Main">
        <f:variable name="mainContent" value="{f:cObject(typoscriptObjectPath:'lib.dynamicContent', data:'{colPos: \'0\' }')}" />
        <f:variable name="headerContentOverMain" value="{f:cObject(typoscriptObjectPath:'lib.dynamicContent', data:'{colPos: \'1\' }')}" />
          {headerContentOverMain -> f:format.raw()}
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-8">
                {mainContent -> f:format.raw()}
              </div>
              <div class="col-12 col-lg-4">
                <f:if condition="{headerContentOverMain}">
                  <f:then> 
                    
                  </f:then>
                  <f:else>
                    <f:render partial="Navigation/SidebarSub" arguments="{_all}" />
                  </f:else>
                </f:if>
                <f:cObject typoscriptObjectPath="lib.dynamicContent"
                data="{
                      colPos:'3'
                 }" />
              </div>
            </div>
          </div>
          <f:cObject typoscriptObjectPath="lib.dynamicContent"
          data="{
                colPos:'4'
          }" />
    </f:section>

</html>