/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/scss/tinyslider.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************/
.tns-outer {
  padding: 0 !important;
}
.tns-outer [hidden] {
  display: none !important;
}
.tns-outer [aria-controls], .tns-outer [data-action] {
  cursor: pointer;
}

.tns-slider {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
}
.tns-slider > .tns-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tns-horizontal.tns-subpixel {
  white-space: nowrap;
}
.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}
.tns-horizontal.tns-no-subpixel:after {
  content: "";
  display: table;
  clear: both;
}
.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left;
}
.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%;
}

.tns-no-calc {
  position: relative;
  left: 0;
}

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px;
}
.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  -webkit-transition: transform 0s, opacity 0s;
  -moz-transition: transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s;
}
.tns-gallery > .tns-slide-active {
  position: relative;
  left: auto !important;
}
.tns-gallery > .tns-moving {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.tns-autowidth {
  display: inline-block;
}

.tns-lazy-img {
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0.6;
}
.tns-lazy-img.tns-complete {
  opacity: 1;
}

.tns-ah {
  -webkit-transition: height 0s;
  -moz-transition: height 0s;
  transition: height 0s;
}

.tns-ovh {
  overflow: hidden;
}

.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}

.tns-transparent {
  opacity: 0;
  visibility: hidden;
}

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}

.tns-normal, .tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

.tns-vpfix {
  white-space: nowrap;
}
.tns-vpfix > div, .tns-vpfix > li {
  display: inline-block;
}

.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden;
}
.tns-t-ct {
  width: 2333.3333333333%;
  width: -webkit-calc(100% * 70 / 3);
  width: -moz-calc(100% * 70 / 3);
  width: calc(100% * 70 / 3);
  position: absolute;
  right: 0;
}
.tns-t-ct:after {
  content: "";
  display: table;
  clear: both;
}
.tns-t-ct > div {
  width: 1.4285714286%;
  width: -webkit-calc(100% / 70);
  width: -moz-calc(100% / 70);
  width: calc(100% / 70);
  height: 10px;
  float: left;
}

.special-slider .tns-outer {
  position: relative;
}
.special-slider .tns-ovh {
  padding: 10px 45px;
}
.special-slider .tns-controls > button {
  position: absolute;
  top: 50%;
  z-index: 999;
  width: 30px;
  height: 100px;
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
}
.special-slider .tns-controls > button[data-controls=prev] {
  left: 5px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iRWJlbmVfMSIgZGF0YS1uYW1lPSJFYmVuZSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOS41OCA0OC43NSI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7fS5jbHMtMntmaWxsOiMwZjY5YjE7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJQZmFkXzMiIGRhdGEtbmFtZT0iUGZhZCAzIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yNi42MSwxLjgsNCwyMC44NUg0YTMuNDUsMy40NSwwLDAsMC0uMzgsNC44OCwyLjI4LDIuMjgsMCwwLDAsLjM4LjM4YzIuOCwyLjgsMjEuOTQsMjEuNjEsMjEuOTQsMjEuNjFsNC0zLjkxTDkuNDEsMjMuMTcsMjkuODcsNloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xLjcgLTAuMzcpIi8+PHBhdGggY2xhc3M9ImNscy0yIiBkPSJNMjYuNjEsMS44LDQsMjAuODVoMGEzLjQ3LDMuNDcsMCwwLDAsMCw1LjI3YzIuOCwyLjc5LDIxLjk0LDIxLjYsMjEuOTQsMjEuNmw0LTMuOUw5LjQxLDIzLjE3LDI5Ljg3LDYsMjYuNjEsMS44TTI2Ljc2LjM3bDQuNDksNS43MkwxMC44OCwyMy4yNCwzMS4yOSw0My44M2wtNS40LDUuMy0uNy0uNjlDMjUsNDguMjUsNiwyOS41OSwzLjI0LDI2LjgyYTQuNDIsNC40MiwwLDAsMS0xLjQ3LTQuMDYsNC44NSw0Ljg1LDAsMCwxLC44Ni0xLjkyLDQuMTgsNC4xOCwwLDAsMSwuNjgtLjc1aDBaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMS43IC0wLjM3KSIvPjwvZz48L3N2Zz4=);
}
.special-slider .tns-controls > button[data-controls=prev]:focus, .special-slider .tns-controls > button[data-controls=prev]:active, .special-slider .tns-controls > button[data-controls=prev]:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iRWJlbmVfMSIgZGF0YS1uYW1lPSJFYmVuZSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOS4zNSA0Ny4zOCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiMwZjY5YjE7c3Ryb2tlLWxpbmVjYXA6c3F1YXJlO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2Utd2lkdGg6N3B4O308L3N0eWxlPjwvZGVmcz48cGF0aCBpZD0iUGZhZF8yIiBkYXRhLW5hbWU9IlBmYWQgMiIgY2xhc3M9ImNscy0xIiBkPSJNMjYsNi4zNCw1LjEzLDIzLjU3LDI2LDQzLjg1IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMS42MyAtMS40MSkiLz48L3N2Zz4=);
}
.special-slider .tns-controls > button[data-controls=next] {
  right: 5px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iRWJlbmVfMSIgZGF0YS1uYW1lPSJFYmVuZSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOS41OCA0OC43NSI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7fS5jbHMtMntmaWxsOiMwZjY5YjE7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJQZmFkXzMiIGRhdGEtbmFtZT0iUGZhZCAzIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik01LjM4LDEuOCwyOCwyMC44NWgwYTMuNDUsMy40NSwwLDAsMSwuMzgsNC44OCwyLjI4LDIuMjgsMCwwLDEtLjM4LjM4QzI1LjI0LDI4LjkxLDYuMSw0Ny43Miw2LjEsNDcuNzJsLTQtMy45MUwyMi41OCwyMy4xNywyLjEyLDZaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMC43IC0wLjM3KSIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTUuMzgsMS44LDI4LDIwLjg1aDBhMy40NywzLjQ3LDAsMCwxLDAsNS4yN0MyNS4yNCwyOC45MSw2LjEsNDcuNzIsNi4xLDQ3LjcybC00LTMuOUwyMi41OCwyMy4xNywyLjEyLDYsNS4zOCwxLjhNNS4yMy4zNy43NCw2LjA5LDIxLjExLDIzLjI0LjcsNDMuODNsNS40LDUuMy43LS42OUM3LDQ4LjI1LDI2LDI5LjU5LDI4Ljc1LDI2LjgyYTQuNDIsNC40MiwwLDAsMCwxLjQ3LTQuMDYsNC44NSw0Ljg1LDAsMCwwLS44Ni0xLjkyLDQuMTgsNC4xOCwwLDAsMC0uNjgtLjc1aDBaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMC43IC0wLjM3KSIvPjwvZz48L3N2Zz4=);
}
.special-slider .tns-controls > button[data-controls=next]:focus, .special-slider .tns-controls > button[data-controls=next]:active, .special-slider .tns-controls > button[data-controls=next]:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iRWJlbmVfMSIgZGF0YS1uYW1lPSJFYmVuZSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOS4zNSA0Ny4zOCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiMwZjY5YjE7c3Ryb2tlLWxpbmVjYXA6c3F1YXJlO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2Utd2lkdGg6N3B4O308L3N0eWxlPjwvZGVmcz48cGF0aCBpZD0iUGZhZF8yIiBkYXRhLW5hbWU9IlBmYWQgMiIgY2xhc3M9ImNscy0xIiBkPSJNNi4xMyw2LjM0LDI3LDIzLjU3LDYuMTMsNDMuODUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xLjE4IC0xLjQxKSIvPjwvc3ZnPg==);
}
.special-slider .tns-controls > button[disabled] {
  opacity: 0.25;
}
.special-slider .tns-controls + .tns-ovh {
  margin: 0 67px;
}

@media (min-width: 992px) {
  .special-slider .tns-ovh {
    overflow: visible;
  }
  .special-slider .tns-controls > button {
    width: 62px;
  }
  .special-slider .slide-1, .special-slider .slide-3 {
    transform: scale(0.75) translateX(600px);
    z-index: 200;
    position: relative;
    transition: transform 0.2s linear;
  }
  .special-slider .slide-1:focus, .special-slider .slide-1:active, .special-slider .slide-1:hover, .special-slider .slide-3:focus, .special-slider .slide-3:active, .special-slider .slide-3:hover {
    transform: scale(0.75) translateX(400px);
    cursor: pointer;
  }
  .special-slider .slide-2 {
    transform: scale(1.25);
    z-index: 500;
    position: relative;
    transition: transform 0.2s linear;
  }
  .special-slider .slide-3 {
    transform: scale(0.75) translateX(-600px);
  }
  .special-slider .slide-3:focus, .special-slider .slide-3:active, .special-slider .slide-3:hover {
    transform: scale(0.75) translateX(-400px);
    cursor: pointer;
  }
  .special-slider .tns-inner {
    padding-top: 4rem !important;
    padding-bottom: 0rem !important;
  }
  .special-slider .currentindex-0 .slide-1 {
    transform: scale(1.25);
    z-index: 500;
  }
  .special-slider .currentindex-0 .slide-1:focus, .special-slider .currentindex-0 .slide-1:active, .special-slider .currentindex-0 .slide-1:hover {
    transform: scale(1.25) translateX(0);
  }
  .special-slider .currentindex-0 .slide-1 ~ .tns-slide-active {
    transform: scale(0.75) translateX(-600px);
    z-index: 200;
  }
  .special-slider .currentindex-0 .slide-1 ~ .tns-slide-active:focus, .special-slider .currentindex-0 .slide-1 ~ .tns-slide-active:active, .special-slider .currentindex-0 .slide-1 ~ .tns-slide-active:hover {
    transform: scale(0.75) translateX(-400px);
    cursor: pointer;
  }
  .special-slider .currentindex-0 .slide-3 {
    display: none;
  }
  .special-slider .currentindex-last .slide-1, .special-slider .currentindex-last .slide-2 {
    transform: scale(0.75) translateX(600px);
    z-index: 200;
  }
  .special-slider .currentindex-last .slide-1:focus, .special-slider .currentindex-last .slide-1:active, .special-slider .currentindex-last .slide-1:hover, .special-slider .currentindex-last .slide-2:focus, .special-slider .currentindex-last .slide-2:active, .special-slider .currentindex-last .slide-2:hover {
    transform: scale(0.75) translateX(400px);
    cursor: pointer;
  }
  .special-slider .currentindex-last .slide-2.slide-3 {
    transform: scale(1.25);
    z-index: 500;
  }
  .special-slider .currentindex-last .slide-2 + .slide-3 {
    transform: scale(1.25);
    z-index: 500;
  }
}
