<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	<n:excludeDisplayedNews newsItem="{newsItem}" />
	<div class="row news-list-item mb-4 pb-4 border-bottom rounded">
		
		<div class="col-md mb-4 mb-md-0 articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
			<h3 itemprop="headline">
				<f:if condition="{newsItem.hideMore}">
					<f:then>
						{newsItem.title}
					</f:then>
					<f:else>
						<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}" additionalAttributes="{itemprop:'url'}">
							{newsItem.title}
						</n:link>
					</f:else>
				</f:if>
			</h3>

			<f:render partial="General/AdditionalInformation" arguments="{settings:settings,newsItem:newsItem}" />

			<!-- teaser -->
			<div class="lead" itemprop="description">
				<f:if condition="{newsItem.hideMore}">
					<f:then>
						{newsItem.bodytext -> f:format.html()}
					</f:then>
					<f:else>
						<n:removeMediaTags>
							<f:if condition="{newsItem.teaser}">
								<f:then>
									{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
								</f:then>
								<f:else>
									{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
								</f:else>
							</f:if>
						</n:removeMediaTags>
					</f:else>
				</f:if>
			</div>
			<f:if condition="{newsItem.hideMore}">
				<f:then></f:then>
				<f:else>
					<n:link newsItem="{newsItem}" settings="{settings}" class="btn btn-primary btn-read-more" title="{newsItem.title}">
						<f:translate key="more-link" />
					</n:link>
				</f:else>
			</f:if>
		</div>
		<f:if condition="{newsItem.mediaPreviews}">
			<div class="{f:if(condition: '{newsItem.hideMore} && {newsItem.bodytext} == \'\'', then: 'col-12 d-flex justify-content-center', else: 'col-md-3')}">
				<f:if condition="{newsItem.hideMore}">
					<f:then>
						<f:if condition="{newsItem.bodytext} == ''">
							<f:then>
								<f:variable name="newsWidth" value="856m" />
								<f:variable name="newsHeight" value="500c" />
							</f:then>
							<f:else>
								<f:variable name="newsWidth" value="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.width)}" />
								<f:variable name="newsHeight" value="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else:'')}" />
							</f:else>
						</f:if>
						
						<f:variable name="newsDimensions" value="{width: newsWidth, height: newsHeight}" />
						<f:render 
							partial="Media/Rendering/Image" 
							arguments="{
								file: newsItem.mediaPreviews.0, 
								dimensions: newsDimensions
							}" />
					</f:then>
					<f:else>
						<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
							<f:variable name="newsWidth" value="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.width)}" />
							<f:variable name="newsHeight" value="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else:'')}" />
							<f:variable name="newsDimensions" value="{width: newsWidth, height: newsHeight}" />
							<f:render 
								partial="Media/Rendering/Image" 
								arguments="{
									file: newsItem.mediaPreviews.0, 
									dimensions: newsDimensions
								}" />
						</n:link>
					</f:else>
				</f:if>
			</div>
		</f:if>
	</div>
</html>
