/*!************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/scss/bg-green.scss ***!
  \************************************************************************************************************************************************************************************************************************************************/
div[class*=bg-] div.bg-green,
div.bg-green {
  background-color: #00D590;
  color: white;
}
div[class*=bg-] div.bg-green h1, div[class*=bg-] div.bg-green h3, div[class*=bg-] div.bg-green h4, div[class*=bg-] div.bg-green h5,
div[class*=bg-] div.bg-green .h1, div[class*=bg-] div.bg-green .h3, div[class*=bg-] div.bg-green .h4, div[class*=bg-] div.bg-green .h5,
div[class*=bg-] div.bg-green .sidetext,
div[class*=bg-] div.bg-green p, div[class*=bg-] div.bg-green a,
div.bg-green h1,
div.bg-green h3,
div.bg-green h4,
div.bg-green h5,
div.bg-green .h1,
div.bg-green .h3,
div.bg-green .h4,
div.bg-green .h5,
div.bg-green .sidetext,
div.bg-green p,
div.bg-green a {
  color: #fff;
}
div[class*=bg-] div.bg-green h1::first-line, div[class*=bg-] div.bg-green h3::first-line, div[class*=bg-] div.bg-green h4::first-line, div[class*=bg-] div.bg-green h5::first-line,
div[class*=bg-] div.bg-green .h1::first-line, div[class*=bg-] div.bg-green .h3::first-line, div[class*=bg-] div.bg-green .h4::first-line, div[class*=bg-] div.bg-green .h5::first-line,
div[class*=bg-] div.bg-green .sidetext::first-line,
div[class*=bg-] div.bg-green p::first-line, div[class*=bg-] div.bg-green a::first-line,
div.bg-green h1::first-line,
div.bg-green h3::first-line,
div.bg-green h4::first-line,
div.bg-green h5::first-line,
div.bg-green .h1::first-line,
div.bg-green .h3::first-line,
div.bg-green .h4::first-line,
div.bg-green .h5::first-line,
div.bg-green .sidetext::first-line,
div.bg-green p::first-line,
div.bg-green a::first-line {
  color: #fff;
}
div[class*=bg-] div.bg-green .bg-particle svg,
div.bg-green .bg-particle svg {
  fill: #171934;
}
div[class*=bg-] div.bg-green .btn-secondary, div[class*=bg-] div.bg-green .btn-primary,
div.bg-green .btn-secondary,
div.bg-green .btn-primary {
  background-color: #D1FF24;
  border-color: #D1FF24;
  color: #171934;
}
div[class*=bg-] div.bg-green .btn-secondary:focus, div[class*=bg-] div.bg-green .btn-primary:focus,
div.bg-green .btn-secondary:focus,
div.bg-green .btn-primary:focus {
  text-decoration: underline;
}
div[class*=bg-] div.bg-green .btn-secondary:hover, div[class*=bg-] div.bg-green .btn-primary:hover,
div.bg-green .btn-secondary:hover,
div.bg-green .btn-primary:hover {
  background-color: #00D590;
  color: #D1FF24;
}
div[class*=bg-] div.bg-green .btn-secondary:active, div[class*=bg-] div.bg-green .btn-primary:active,
div.bg-green .btn-secondary:active,
div.bg-green .btn-primary:active {
  border-color: #004751;
  background-color: #004751;
  color: #D1FF24;
}
div[class*=bg-] div.bg-green .btn-secondary[disabled], div[class*=bg-] div.bg-green .btn-primary[disabled],
div.bg-green .btn-secondary[disabled],
div.bg-green .btn-primary[disabled] {
  border-color: rgba(0, 213, 144, 0.5);
  background-color: rgba(0, 213, 144, 0.5);
  color: rgba(255, 255, 255, 0.6);
}
