/*!*****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/scss/bg-lightgreen.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************/
div[class*=bg-] div.bg-lightgreen,
div.bg-lightgreen {
  background-color: #D1FF24;
  color: #004751;
}
div[class*=bg-] div.bg-lightgreen a, div[class*=bg-] div.bg-lightgreen a:active, div[class*=bg-] div.bg-lightgreen a:hover, div[class*=bg-] div.bg-lightgreen a:focus,
div.bg-lightgreen a,
div.bg-lightgreen a:active,
div.bg-lightgreen a:hover,
div.bg-lightgreen a:focus {
  color: #C5B8F6;
}
div[class*=bg-] div.bg-lightgreen h1, div[class*=bg-] div.bg-lightgreen h3, div[class*=bg-] div.bg-lightgreen h4, div[class*=bg-] div.bg-lightgreen h5,
div[class*=bg-] div.bg-lightgreen .h1, div[class*=bg-] div.bg-lightgreen .h3, div[class*=bg-] div.bg-lightgreen .h4, div[class*=bg-] div.bg-lightgreen .h5,
div[class*=bg-] div.bg-lightgreen .sidetext,
div[class*=bg-] div.bg-lightgreen p, div[class*=bg-] div.bg-lightgreen a,
div.bg-lightgreen h1,
div.bg-lightgreen h3,
div.bg-lightgreen h4,
div.bg-lightgreen h5,
div.bg-lightgreen .h1,
div.bg-lightgreen .h3,
div.bg-lightgreen .h4,
div.bg-lightgreen .h5,
div.bg-lightgreen .sidetext,
div.bg-lightgreen p,
div.bg-lightgreen a {
  color: #C5B8F6;
}
div[class*=bg-] div.bg-lightgreen h1::first-line, div[class*=bg-] div.bg-lightgreen h3::first-line, div[class*=bg-] div.bg-lightgreen h4::first-line, div[class*=bg-] div.bg-lightgreen h5::first-line,
div[class*=bg-] div.bg-lightgreen .h1::first-line, div[class*=bg-] div.bg-lightgreen .h3::first-line, div[class*=bg-] div.bg-lightgreen .h4::first-line, div[class*=bg-] div.bg-lightgreen .h5::first-line,
div[class*=bg-] div.bg-lightgreen .sidetext::first-line,
div[class*=bg-] div.bg-lightgreen p::first-line, div[class*=bg-] div.bg-lightgreen a::first-line,
div.bg-lightgreen h1::first-line,
div.bg-lightgreen h3::first-line,
div.bg-lightgreen h4::first-line,
div.bg-lightgreen h5::first-line,
div.bg-lightgreen .h1::first-line,
div.bg-lightgreen .h3::first-line,
div.bg-lightgreen .h4::first-line,
div.bg-lightgreen .h5::first-line,
div.bg-lightgreen .sidetext::first-line,
div.bg-lightgreen p::first-line,
div.bg-lightgreen a::first-line {
  color: #171934;
}
div[class*=bg-] div.bg-lightgreen .bg-particle svg,
div.bg-lightgreen .bg-particle svg {
  fill: #004751;
}
div[class*=bg-] div.bg-lightgreen .btn-secondary, div[class*=bg-] div.bg-lightgreen .btn-primary,
div.bg-lightgreen .btn-secondary,
div.bg-lightgreen .btn-primary {
  background-color: #C5B8F6;
  border-color: #C5B8F6;
  color: #171934;
}
div[class*=bg-] div.bg-lightgreen .btn-secondary:focus, div[class*=bg-] div.bg-lightgreen .btn-primary:focus,
div.bg-lightgreen .btn-secondary:focus,
div.bg-lightgreen .btn-primary:focus {
  text-decoration: underline;
}
div[class*=bg-] div.bg-lightgreen .btn-secondary:hover, div[class*=bg-] div.bg-lightgreen .btn-primary:hover,
div.bg-lightgreen .btn-secondary:hover,
div.bg-lightgreen .btn-primary:hover {
  background-color: #D1FF24;
  color: #171934;
}
div[class*=bg-] div.bg-lightgreen .btn-secondary:active, div[class*=bg-] div.bg-lightgreen .btn-primary:active,
div.bg-lightgreen .btn-secondary:active,
div.bg-lightgreen .btn-primary:active {
  border-color: #004751;
  background-color: #004751;
  color: #C5B8F6;
}
div[class*=bg-] div.bg-lightgreen .btn-secondary[disabled], div[class*=bg-] div.bg-lightgreen .btn-primary[disabled],
div.bg-lightgreen .btn-secondary[disabled],
div.bg-lightgreen .btn-primary[disabled] {
  border-color: rgba(0, 213, 144, 0.5);
  background-color: rgba(0, 213, 144, 0.5);
  color: #fff;
}
